<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fafu.zhengxianyou.livingincampus">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="24c64b84e1d42b6858387de12d60e8ae"/>

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".WebInfoActivity"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".WeatherActivity"/>

        <service android:name="com.amap.api.location.APSService"/>

        <activity android:name=".CourseActivity"/>
        <activity android:name=".route.PoiAroundSearchActivity"/>
        <activity android:name=".route.RouteActivity"/>
        <activity android:name=".route.DriveRouteDetailActivity"/>
        <activity android:name=".route.BusRouteDetailActivity"/>
        <activity android:name=".route.WalkRouteDetailActivity"/>
        <activity android:name=".BusLineActivity"/>

        <receiver android:name=".NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <activity android:name=".LoginActivity">
        </activity>
        <activity
            android:name=".CommunityActivity"
            android:label="@string/community"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".LibraryActivity"
            android:label="@string/library">
        </activity>
    </application>

</manifest>